/* Обнулення стилів(підключення файлу обнулення ) */
@import url("reset.css");

h1{
	color: cornflowerblue;
}
h2{
	color: brown;
}
span{
	color: red;
}
li a {
	color: blue;
}
div .paragraph-1{
	color: rgb(252, 207, 5);
}
.wrapper p {
	color: rgb(28, 29, 138);
}
.wrapper-inner > p{
	color: coral;
}
[class*="paragraph-2"]{
	color: rgb(189, 16, 189);
}
.item ~ li{
	color: rgb(188, 235, 95);
}

p.paragraph-marked{
	color: rgb(90, 123, 235);
}
.subtitle.subtitle-coral{
	color: coral;
}
.paragraph-description-1,
.paragraph-description-2,
.paragraph-description-3{
	color: rgb(224, 221, 42);
}

.wrapper-unique .paragraph-1{
	color: rgb(125, 233, 62);
}
.wrap-text *{
	color: blueviolet;
}

.paragraph-3 + p {
	color: red;
}