@import url("reset.css");
@import url("common.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");


body{
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 2.08; /* 25/12 */
}
.wrapper{
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex: 1 1 auto;
}

[class*="__container"]{
	margin: 0 auto;
	max-width: 1270px;
	padding: 0 15px;
}

/* -------------------------------- */
/* 		Vence: Blog Minimal			*/
/* -------------------------------- */

/* Header */
.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100%;
	background-color: #F8F9FA;
}
.header__container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	min-height: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
}
/* Logo */
.logo{
	position: relative;
	z-index: 2;
	display: inline-flex;
	align-items: flex-end;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.38; /* 25/18 */
	color: #495057;
	transition: all 0.3s;
}
.logo:after{
	content: ".";
	color: #DDBEA9;
}
@media (any-hover: hover){
	.header__logo:hover{
		color: #2e3338;
	}
}
/* Menu */
.header__menu {
}
.menu {
}
.menu__body {
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 25px;
	row-gap: 10px;
}

.menu__item {
}


.menu__link {
	display: inline-block;
	position: relative;
	color: rgba(73, 80, 87, 0.5);
	
}
.menu__link::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0;
	background-color: #DDBEA9;
	transition: all 0.3s;
}
@media (any-hover: hover){
	.menu__item:hover .menu__link{
		color: #495057;
	}
	.menu__item:hover .menu__link::before{
		width: 100%;
	}
}
.menu__link.active{
	color: #495057;
}
.menu__link.active::before{
	width: 100%;
}


/* Socials */
.header__socials {
}
.socials-header {
	position: relative;
	z-index: 2;
	display: flex;
	gap: 20px;
	align-items: center;
}
.socials-header__list {
	display: flex;
	column-gap: 20px;
	row-gap: 5px;
	flex-wrap: wrap;
}
.socials-header__item {
}
.socials-header__item:last-child {
	border-right: 1px	solid #E5E5E5;
	padding-right: 20px;
}
.socials-header__link {
	position: relative;
	display: inline-block;
	color: rgba(73, 80, 87, 0.5);
}
.socials-header__link::before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0;
	background-color: #DDBEA9;
	transition: all 0.3s;
}
@media (any-hover: hover){
	.socials-header__item:hover .socials-header__link{
		color: #495057;
	}
	.socials-header__item:hover .socials-header__link::before{
		width: 100%;
	}
}
.socials-header__search {
	display: inline-block;
	width: 15px;
	height: 15px;
	flex: 0 0 12px;
	background: url("../img/icons/search.svg") center no-repeat;
	transition: all 0.3s ease 0s;
}
@media (any-hover: hover){
	.socials-header__search:hover{
		transform: scale(1.2);
	}
}
/* ----------------------------------------- */
.menu-icon{
		display: none;
}
@media (max-width: 991.98px){
	.header__container{
		min-height: 60px;
	}
}

@media (max-width: 767.98px) {
	.header__logo {
		color: #212529;
	}
	.menu__list{
		flex-direction: column;
		row-gap: 25px;
	}
	.menu__link,
	.menu__link.active{
		font-size: 20px;
		color: #F8F9FA;
	}
	.socials-header__link {
		color: #212529;
	}

	/* Burger */
	.menu-icon{
		display: block;
		height: 18px;
		position: relative;
		width: 30px;
		flex:	0 0 30px;
	}
	.menu-icon::before,
	.menu-icon::after,
	.menu-icon span{
		content: "";
		position: absolute;
		left: 0;
		height: 1px;
		width: 100%;
		background-color: #212529;
	}
	.menu-icon::before{
		top: 0;
	}
	.menu-icon::after{
		bottom: 0;
	}
	.menu-icon span {
		top: 50%;
		margin-top: -0.5px;
	}
	.menu-open .menu-icon::before {
		top: 50%;
		transform: translateY(-50%) rotate(-45deg);
	}
	.menu-open .menu-icon::after {
		bottom: 50%;
		transform: translateY(50%) rotate(45deg);
	}
	.menu-open .menu-icon span {
		width: 0;
		left: 50%;
	}
	.menu__body{
		padding: 80px 15px 20px 15px;
		position: fixed;
		height: 100%;
		width: 100%;
		top: -100%;
		left: 0;
		background-color: #212529;
		overflow: auto;
		transition: all 0.3s;
	}
	.menu__body::before{
		content: "";
		min-height: 60px;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;
		background-color: #ffffff;
	}
	.menu-open .menu__body,
	.menu-open .menu__body::before{
		top: 0;
		transition: all 0.3s;
	}

	.socials-header__search {
		flex: 0 0 auto;
		width: 18px;
		height: 20px;
		background-size: 100%;
	}
}

@media (max-width: 479.98px) {
	.header__container{
		min-height: 100px;
	}
	.menu__body{
		padding: 120px 15px 20px 15px;
	}
	.menu__body::before{
		min-height: 100px;
	}

}

@media (max-width: 364.98px) {
	.header__container{
		gap: 5px;
	}
	.menu__list{
		row-gap: 15px;
	}
}



/* ------------------------------------------------------------- */
/* Footer */
.footer {
	color: rgba(248, 249, 250, 0.5);
	background-color: #212529;
}
.footer__container {
}

/* Footer Top */
.footer__top {
	padding-top: 100px;
	padding-bottom: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
}
.top-footer {
	border-bottom: 1px solid rgba(229, 229, 229, 0.2);
}

/* Logo */
.top-footer__logo {
	color: #F8F9FA;
}

/* Footer Menu */
.footer__menu {
}
.menu-footer {
}
.menu-footer__list {
	display: flex;
}
.menu-footer__item {
}
.menu-footer__item:not(:last-child) {
	margin-right: 25px;
}
.menu-footer__link {
	transition: all 0.3s;
}
.footer__socials-menu {
}

/* Footer Socials Menu */
.menu-socials {
}
.menu-socials__list {
	display: flex;
}
.menu-socials__item {
}
.menu-socials__item:not(:last-child) {
	margin-right: 25px;
}
.menu-socials__link {
	transition: all 0.3s;
}
@media (any-hover: hover){
	.menu-footer__item:hover .menu-footer__link{
		color: #F8F9FA;
	}
	.menu-socials__item:hover .menu-socials__link{
		color: #F8F9FA;
	}
}
/* Footer Bottom */
.footer__bottom {
	padding-top: 40px;
	padding-bottom: 100px;
	display: flex;
	justify-content: space-between;
}
.bottom-footer {
}
.bottom-footer__address {
}
.bottom-footer__copyright {
}

@media (max-width: 991.98px){
	.footer__top{
		padding-top: 50px;
	}
	.footer__bottom{
		padding-bottom: 50px;
	}
}
@media (max-width: 767.98px){
	.menu-footer__link,
	.menu-socials__link{
		font-size: 15px;
	}
}
@media (max-width: 600px) {
	.footer__top{
		padding-top: 25px;
		padding-bottom: 25px;
		flex-direction: column;
		row-gap: 20px;
	}
	.footer__bottom{
		padding-top: 25px;
		padding-bottom: 25px;
	}
}
@media (max-width: 479.98px){
	.menu-footer__list{
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}
	.menu-footer__item:not(:last-child){
		margin: 0;
	}
	.footer__bottom{
		flex-direction: column;
		align-items: center;
		row-gap: 20px;
	}
}

/* ----------------------------------------------------------- */

/* ------------------------------------------------------------- */
/* Page Interior */
/* Top */
.page-interior__top {
}
.top-page {
	padding-top: 100px;
	padding-bottom: 57px;
}
.top-page__container {
}
.top-page__content {
	position: relative;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.top-page__box{
	max-width: 370px;
	margin: 0 auto;
}
.top-page__label {
	margin: 0 auto;
}
.top-page__label:not(:last-child){
	margin-bottom: 16px;
}
.top-page__title {
}

.top-page__pagination {
}

.top-page__background {
	background-color: #212529;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	padding-bottom: 40.322581%; /* 500/1240 */
	border-radius: 5px;
}
.top-page__background img{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.6;
	border-radius: 5px;
}
@media (max-width: 991.98px) {
	.top-page {
		padding-top: 70px;
		padding-bottom: 25px;
	}
}
@media (max-width: 479.98px) {
	.top-page {
		padding-top: 110px;
		padding-bottom: 17px;
	}
	.title_white{
		font-size: 20px;
	}
}
@media (max-width: 330px) {
	.title_white{
		padding: 0 5px;
		font-size: 20px;
	}
}
/* ----------------------------------------- */

/* Portfolio */
.page-interior__portfolio {
}
.portfolio-page {
	padding-top: 43px;
	padding-bottom: 100px;
}
.portfolio-page__container {
}

.portfolio-page__head-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}
.portfolio-page__head-area:not(:last-child){
	margin-bottom: 45px;
}
.portfolio-page__title {
	flex: 0 1 400px;
}

.portfolio-page__categories {
}
.categories-portfolio {
}
.categories-portfolio__list {
	display: flex;
	gap: 25px;
	flex-wrap: wrap;
}
.categories-portfolio__item {
}
.categories-portfolio__option {
	color: #C4C4C4;
	transition: all 0.3s;
}
.categories-portfolio__option.active {
	color: #495057;
}
@media (any-hover: hover){
	.categories-portfolio__item:hover .categories-portfolio__option{
		color: #495057;
	}
}


.portfolio-page__items {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
	row-gap: 40px;
}
.portfolio-page__column {
	flex: 0 0 33.333%;
	padding: 0 15px;
}

.portfolio-page__item {
}
.item-portfolio {
	position: relative;
	min-height: 100%;
}
.item-portfolio__image {
	position: relative;
	display: block;
	padding-bottom: 63.613232%; /* 250/393 */
	overflow: hidden;
}
.item-portfolio__image:not(:last-child){
	margin-bottom: 30px;
}
.item-portfolio__image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 3px;
	transition: all 0.8s;
}
@media (any-hover: hover){
	.item-portfolio__image:hover img {
		transform: scale(1.05);
	}
}
.item-portfolio__body {
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: flex-start;
}
.item-portfolio__date {
	display: inline-block;
	font-weight: 300;
	line-height: 1.66; /* 20/12 */
	color: #495057;
	transition: all 0.3s;
}
.item-portfolio__title {
	transition: all 0.3s;
}
@media (any-hover: hover){
	.item-portfolio__date:hover{
		color: #000;
		text-decoration: underline;
	}
	.item-portfolio__title:hover{
		color: #CCD5AE;
	}
}

@media (max-width: 991.98px) {
	.portfolio-page {
		padding-top: 15px;
		padding-bottom: 50px;
	}
	.portfolio-page__head-area {
		flex-direction: column;
		gap: 30px;
	}
	.portfolio-page__title {
		flex: 1 1 auto;
		text-align: center;
	}
	.categories-portfolio__option {
		font-size: 18px;
	}
	.portfolio-page__items {
		margin: 0 -8px;
		row-gap: 20px;
	}
	.portfolio-page__column {
		flex: 0 0 33.333%;
		padding: 0 8px;
	}
	.item-portfolio__image:not(:last-child){
		margin-bottom: 10px;
	}
}
@media (max-width: 880px) {
	.portfolio-page__head-area {
		gap: 10px;
	}
	.portfolio-page__head-area:not(:last-child){
		margin-bottom: 20px;
	}
	.portfolio-page__items {
		margin: 0 -5px;
		row-gap: 15px;
	}
	.portfolio-page__column {
		flex: 0 0 50%;
		padding: 0 5px;
	}
	.item-portfolio__body {
		gap: 8px;
	}
}
@media (max-width: 795px) {
	.categories-portfolio__list {
		gap: 15px;
		justify-content: center;
	}

}
@media (max-width: 500px) {
	.portfolio-page__column {
		flex: 0 0 100%;
		padding: 0 5px;
	}
}